body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h1 {
  color: #333;
}

label {
  font-weight: bold;
}

input[type="number"],
textarea {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 15px;
}

button:hover {
  background-color: #45a049;
}

#copy {
  background-color: #008cba;
}

#copy:hover {
  background-color: #007bb5;
}
